
    
                <mat-card *ngIf="contact" (click)="selectContact()" >
                        <mat-card-header>
                          <div mat-card-avatar class="header-image">A</div>
                          <mat-card-title>{{contact.firstName}}</mat-card-title>
                          <mat-card-subtitle>
                              
                              <mat-icon >
                                  phone
                              </mat-icon>
                              &nbsp;
                              <span >
                                  +91 8103485695
                              </span>
                          </mat-card-subtitle>
                        </mat-card-header>
                </mat-card>
    
       

